 *, *::after, *::before {
  box-sizing: border-box;
} 

.modal {
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 2px solid rgb(169, 166, 166);
  border-radius: 10px;
  z-index: 10;
  background-color: rgb(253, 253, 253);
  width: 500px;
  max-width: 80%;
  height: 300px;
}

.form-part{
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.modal.active {
   transform: translate(-50%, -50%) scale(1); 
  transition: 200ms ease-in-out;

}
.modal-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: bold;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  padding-left: 45%;
  
}


.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body{
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  transition: 200ms ease-in-out;
  background-color: rgb(242, 238, 234);

  pointer-events: none;
}
#overlay.active {
  opacity: 2;
  pointer-events:  all;
}

/*form part*/
.cs {
  align-content: center;
  text-align: center;
}

.bt {
  border: none;
  background-color: none;
  color:rgb(2, 76, 194);
  text-decoration: none;
}

.form-control {
  height: 35px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(253, 253, 253);

}
.b {
  border-radius: 15px;
  height: 35px;
  width: 100%; max-width: 376px; min-width: 280px;
  font-size: 20px;
  background-color: rgb(101, 137, 172);
  color: white;
  border:none;
}

.col-sm-2  {
  float: left;
  padding-left: 50px;
  text-decoration: bold;
  font-size: 15px;
}