header{
    position: relative;
    width: 100%;
    height: 140px;
    background-attachment: fixed;
    background: url("../images/q.jpg");
    background-color: aquamarine;
 
}
.nl{
    color:rgb(40, 86, 215);
    text-align:center;
    padding-top: 15px;
    padding-left: 30px;
    font-size: 70px;
    font-family:'Times New Roman', Times, serif;
   
}   
.btn{

    float: right;
    padding-left: 1em;
    display: inline-block;
    

}
.btn1 {
    float: right;
    padding-left: 1em;
    display: inline-block;
}

.d-flex {
    float: right;
}
footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color:rgb(231, 185, 225);
}
.col {
    height: 100%;
}
.btn2 {
    text-align: center;
}

.p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-right: 5px;
}

.col-md-auto {
    text-align: center;
    
}

.btn3 {
    align-items: center;
    box-shadow: solid black 1px 1px;

}
.col-md-6{
    
    position: relative;
    padding-top:250px;
}